:root{
    --color-bg: #1e2328;
    --color-grey-1: #2a2e34;
    --color-grey-2: #4e5765;
    --color-yellow-1: #C07F00;
    --color-yellow-2: #FFD95A;
    --color-yellow-3: #FFF7D4;
}

body {
    background-color: var(--color-bg);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#main-content{
    display: none;
}

.sequencer {
    /* display: grid; */
    display: none;
    grid-template-columns: repeat(16, 30px);
    gap: 5px;
}

.track {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.steps {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    gap: 5px;
}

.step {
    width: 30px;
    height: 30px;
    background-color: var(--color-grey-1);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-yellow-3);
}

.step.alt {
    background-color: var(--color-grey-2);
}

.step.active {
    background-color: var(--color-yellow-1);
    color: var(--color-bg);
}

.step.alt.active {
    background-color: var(--color-yellow-2);
    color: var(--color-bg);
    
}

.track-label {
    grid-column: span 16;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}
button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.slider-container {
    margin: 20px 0;
    text-align: center;
}
.slider {
    width: 300px;
}